

<!DOCTYPE html>
<html>
  <head>
    <title>Walt-Test-Websit</title>
  </head>
  <body>
    <h1>Hello there, you'll see nothing here.</h1>
    <img src="https://walt-test-website.a09521200421.repl.co/static/banner.jpg" 
      height="320">
    <h2>Join Me!</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus urna et pharetra pharetra massa. In ornare quam viverra orci sagittis eu volutpat. Nec ultrices dui sapien eget mi proin sed libero. Tellus integer feugiat scelerisque varius morbi enim nunc. Nec ultrices dui sapien eget mi proin sed. Ipsum faucibus vitae aliquet nec ullamcorper. Lobortis mattis aliquam faucibus purus in massa. Eget duis at tellus at urna condimentum mattis. Sed vulputate mi sit amet mauris commodo quis. Dolor magna eget est lorem. Semper viverra nam libero justo laoreet sit amet cursus. Vestibulum lorem sed risus ultricies tristique.
    </p>
  </body>
</html>